#one{
    background-color: rgb(0, 72, 255);
    height:50px;
    width:300px;
    color: white;
    font-size: large;
    border-radius: 50px;
    margin-left: 100px;
}
#two{
    margin-left: 100px;
}